//- 产品列表
//- 商品json 说明，价格，重量，图片

extends layout

block content
  #productdetail.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(type="button", data-dismiss="modal").close
            span&times;
          h4.modal-title 大提琴
        .modal-body 我是body
  include header
  .container-fluid
    .row
      .col-md-12.productlist
        - for (var i = 0, length = productlist.length, row = Math.ceil(length / 6); i < row; ++i)
          .row
            - for (var j = 0, k = i * 6; j < 6 && k < length; ++j, ++k)
              .col-md-2
                .thumbnail
                  img(alt="#{productlist[k].id}", src="#{productlist[k].productpicture}", data-toggle="modal", data-target="#productdetail")
                  .caption
                    span.price ￥
                      strong #{productlist[k].price}
                    span.weight
                      strong #{productlist[k].shippingweight}
                    a(data-toggle="modal", data-target="#productdetail") #{productlist[k].description}

  script(src='/javascripts/lib/jquery-2.1.1.min.js')
  script(src="/javascripts/lib/bootstrap.min.js")